include head.pug

body 
  include navigation.pug 
  if saved.success === 'true'
    div.alert.alert-success.text-center(role="alert")
      span=saved.msg
  if saved.success === 'error'
    div.alert.alert-danger.text-center(role="alert")
      span=saved.msg

  section.d-flex.flex-wrap.justify-content-center.m-5
    a(href="/").col-12.font-weight-bold.text-dark
        i.bi.bi-arrow-left 
        span Tillbaka till alla böcker 
    h1.col-12.text-center.m-3= book.titel
  
    section.col-3.d-flex.flex-column.mb-5
      img(src=`${imgSrc}`)
      button(type="button" onClick=`editBook(${book.ISBN13})`).btn.btn-outline-dark.mt-4 Ändra info
    section.m-5
      ul.list-group.list-group-flush.text-capitalize
        if authors.length > 1
          li.list-group-item Författare:
            ul
              each author in authors
                li=author.Författare
        else 
          li.list-group-item='Författare: ' + authors[0].Författare

        each value, key in book
          if key === 'pris'
            li.list-group-item=key +': ' + value + ' kr'
          else if key != 'titel' && key != 'utgivningsdatum'
            li.list-group-item=key + ': ' + value
          else if key === 'utgivningsdatum'
            li.list-group-item=key + ': '+ moment(value).format('YYYY-MM-DD')

    section.col-12.mt-5
      h2 Säljs i följande butiker

      table.table.mt-5
        thead 
          tr   
            th Namn
            th Lagersaldo
            th
              span.invisible länk till butik
        tbody 
          each store in stores 
            tr 
              each value, key in store 
                if key === 'antal'
                  if value > 0
                    td=value + ' st'
                  else 
                    td Ej i lager
                else if (key != 'hemsida')
                  td=value

              td
                if Number(store.antal) < 1
                  a(href=`${store.hemsida}` aria-disabled="true" role="button").btn.btn-secondary.disabled Gå till butik 
                    i.bi.bi-box-arrow-right
                else
                  a(href=`${store.hemsida}` role="button").btn.btn-info Gå till butik 
                    i.bi.bi-box-arrow-right
  include footer.pug          

